@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}

#greetings {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* resume */

#resume a {
  color: #f8f9fa;
  text-decoration: none;
}

#resume button {
  width: 220px;
}

/* services */

.services-description button a {
  text-decoration: none;
  color: #f8f9fa;
}

#services .card {
  height: 300px;
}

/* projects */
.projects .accordion-item {
  background-color: #f8f9fa;
}

.projects .accordion-item .accordion-button {
  background-color: #f8f9fa;
  color: black;
}

.projects .accordion-item a {
  color: #f8f9fa;
  text-decoration: none;
}

/* contacts */
.contacts-container a {
  color: #f8f9fa;
  text-decoration: none;
}

#bioHead {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bioHead h2 {
  font-size: 100px;
  font-weight: 900;
  background: linear-gradient(90deg, #000, #ffc107, #343a40);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 90%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position-x: -250%;
  }
  100% {
    background-position-x: 250%;
  }
}

@media only screen and (max-width: 420px) {

  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  #navbar {
    overflow-x: hidden;
  }

  nav {
    overflow-x: hidden;
  }

  #greetings {
    overflow-x: hidden;
  }

  #resume {
    overflow-x: hidden;
  }

  #bio p {
    font-size: 2.3vh;
    width: 100%;
    min-width: 40vh;
  }

  #bio-text {
    padding-top: 5vh;
  }

  #services {
    overflow-x: hidden;
  }

  #services .card {
    margin-top: 1.5vh;
  }

  #projects .accordion-body p {
    font-size: 2vh;
    margin-bottom: 1.5vh;
  }

  #contact-mail {
    font-size: 2.7vh;
  }

  #bioHead h2 {
    height: fit-content;
    font-size: 30px;
    overflow-x: hidden;
  }
}
