@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");

body {
  font-family: "Comfortaa", cursive;
  overflow-x: hidden;
}

.page-container {
  overflow-x: hidden;
}

#greetings {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #f8f9fa;
}

/* navbar */

.navbar-brand {
  padding-left: 10px;
}

/* resume */

#resume a {
  color: #f8f9fa;
  text-decoration: none;
}

#resume button {
  width: 220px;
}

/* services */

.services-description button a {
  text-decoration: none;
  color: #f8f9fa;
}

#services .card {
  height: 300px;
}

/* projects */
#projects_title {
  height: fit-content;
}

#projects_title h1 {
  font-weight: bold;
}

.projects .accordion-item {
  background-color: #f8f9fa;
}

.projects .accordion-item .accordion-button {
  background-color: #f8f9fa;
  color: black;
}

.projects .accordion-item a {
  color: #f8f9fa;
  text-decoration: none;
}

/* contacts */
.contacts-container {
  overflow-x: hidden;
}

.contacts-container a {
  color: #f8f9fa;
  text-decoration: none;
}

/* BIO */

#bioHead {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#bioHead h2 {
  font-size: 200px;
  position: absolute;
  color: #ffc107;
  transform: translate(15%, 80%);
  margin-left: -70px;
}

#bioHead h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffc107;
}

#bioHead h2:nth-child(2) {
  color: #ffc107;
  animation: animate 4s ease-in-out infinite;
}

/* MUSIC */

#MusicHead {
  height: 100vh;
  position: relative;
}

#MusicHead h2 {
  font-size: 200px;
  position: absolute;
  color: #ffc107;
  transform: translate(30%, 80%);
  padding-left: 170px;
}

#MusicHead h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffc107;
}

#MusicHead h2:nth-child(2) {
  color: #ffc107;
  animation: animate 4s ease-in-out infinite;
}

/* RESOURCES */

#ResourcesHead {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#ResourcesHead h2 {
  font-size: 200px;
  position: absolute;
  color: #ffc107;
  transform: translate(25%, 80%);
  margin-left: -70px;
}

#ResourcesHead h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffc107;
}

#ResourcesHead h2:nth-child(2) {
  color: #ffc107;
  animation: animate 4s ease-in-out infinite;
}

/* BACKGROUND ANIMATIONS */

/* 1 */

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.4;
}

/* 2 */

.view {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 70%;
  left: 10%;
  margin: -200px 0 0 -200px;
}

.circles {
  height: 100%;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  border: 10px solid #ffc107;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
}

.kk6 {
  border: 15px solid #ffc107;
  border-color: #ffc107;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #9db1b7, inset 0 10px 0px #9db1b7,
    0 5px 0 #abbdc1, 0 10px 0 #abbdc1;
  width: 100px;
  height: 100px;
  transform: rotateX(70deg) translate3d(150px, 0px, -180px);
  animation: wave6 1s ease-in-out -2000ms infinite alternate;
  border-radius: 50px;
}

@keyframes wave6 {
  100% {
    transform: rotateX(70deg) translate3d(150px, 0px, -50px);
  }
}
.kk7 {
  border: 15px solid #ffc107;
  border-color: #ffc107;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #9db1b7, inset 0 10px 0px #9db1b7,
    0 5px 0 #abbdc1, 0 10px 0 #abbdc1;
  width: 40px;
  height: 40px;
  transform: rotateX(70deg) translate3d(180px, 0px, -210px);
  animation: wave7 1s ease-in-out -2400ms infinite alternate;
}

@keyframes wave7 {
  100% {
    transform: rotateX(70deg) translate3d(180px, 0px, -80px);
  }
}

.view2 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 70%;
  left: 90%;
  margin: -200px 0 0 -200px;
}

.circles2 {
  height: 100%;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
}

.item2 {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0;
  border: 10px solid #ffc107;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
}

.kk1 {
  border: 15px solid #ffc107;
  border-color: #ffc107;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #9db1b7, inset 0 10px 0px #9db1b7,
    0 5px 0 #abbdc1, 0 10px 0 #abbdc1;
  width: 100px;
  height: 100px;
  transform: rotateX(70deg) translate3d(150px, 0px, -180px);
  animation: wave1 1s ease-in-out -2000ms infinite alternate;
}

@keyframes wave1 {
  100% {
    transform: rotateX(70deg) translate3d(150px, 0px, -50px);
  }
}
.kk2 {
  border: 15px solid #ffc107;
  border-color: #ffc107;
  box-shadow: 0 1px 0 white, inset 0 5px 0px #9db1b7, inset 0 10px 0px #9db1b7,
    0 5px 0 #abbdc1, 0 10px 0 #abbdc1;
  width: 40px;
  height: 40px;
  transform: rotateX(70deg) translate3d(180px, 0px, -210px);
  animation: wave2 1s ease-in-out -2400ms infinite alternate;
  border-radius: 50px;
}

@keyframes wave2 {
  100% {
    transform: rotateX(70deg) translate3d(180px, 0px, -80px);
  }
}

/* 3 */

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* 4 */

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, #ffc107 50%, #000 50%);
  bottom: 0;
  left: -100%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* MOBILE RESPONSIVENESS HANDLING */

@media only screen and (max-width: 1300px) {
  #bioHead h2 {
    font-size: 130px;
    position: absolute;
    color: #ffc107;
    transform: translate(25%, 90%);
  }

  #MusicHead h2 {
    font-size: 130px;
    position: absolute;
    color: #ffc107;
    transform: translate(25%, 90%);
  }

  #ResourcesHead h2 {
    font-size: 140px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(7%, 230%);
  }
}

@media only screen and (max-width: 840px) {
  #bioHead h2 {
    font-size: 120px;
    position: absolute;
    color: #ffc107;
    transform: translate(10%, 290%);
  }

  #MusicHead h2 {
    font-size: 150px;
    position: absolute;
    color: #ffc107;
    transform: translate(-5%, 230%);
  }

  #ResourcesHead h2 {
    font-size: 140px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(7%, 230%);
  }
}

@media only screen and (max-width: 770px) {
  #bioHead h2 {
    font-size: 110px;
    position: absolute;
    color: #ffc107;
    transform: translate(10%, 250%);
  }

  #MusicHead h2 {
    font-size: 150px;
    position: absolute;
    color: #ffc107;
    transform: translate(-10%, 180%);
  }
  
  #ResourcesHead h2 {
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(12%, 250%);
  }
}

@media only screen and (max-width: 450px) {
  body {
    max-width: 450px;
  }

  nav {
    max-width: 450px;
  }

  #bio p {
    font-size: 2.3vh;
    width: 100%;
    min-width: 40vh;
  }

  #bio-text {
    padding-top: 5vh;
  }

  #services .card {
    margin-top: 1.5vh;
  }

  #projects .accordion-body p {
    font-size: 2vh;
    margin-bottom: 1.5vh;
  }

  #contact-mail {
    font-size: 2.7vh;
  }

  #bioHead h2 {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(28%, 490%);
  }

  #bioHead h2:nth-child(2) {
    color: #ffc107;
    animation: animate 2s ease-in-out infinite;
  }

  #MusicHead h2 {
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(-30%, 290%);
  }

  #MusicHead h2:nth-child(2) {
    color: #ffc107;
    animation: animate 2s ease-in-out infinite;
  }

  #ResourcesHead h2 {
    font-size: 65px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(20%, 350%);
  }

  .view {
    display: none;
  }

  .view2 {
    display: none;
  }

  #contact-mail {
    font-size: 15px;
  }
}

@media only screen and (max-width: 395px) {
  #bioHead h2 {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(21%, 410%);
  }

  #bioHead h2:nth-child(2) {
    color: #ffc107;
    animation: animate 2s ease-in-out infinite;
  }

  #MusicHead h2 {
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(-33%, 250%);
  }

  #MusicHead h2:nth-child(2) {
    color: #ffc107;
    animation: animate 2s ease-in-out infinite;
  }

  #ResourcesHead h2 {
    font-size: 65px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(10%, 300%);
  }

  .view {
    display: none;
  }

  .view2 {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  #bioHead h2 {
    font-size: 43px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(-5%, 270%);
  }

  #MusicHead h2 {
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(-43%, 150%);
  }

  #ResourcesHead h2 {
    font-size: 55px;
    font-weight: bold;
    position: absolute;
    color: #ffc107;
    transform: translate(12%, 250%);
  }

  #resume .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
